.sitewideContainer {
  max-width: 61.875em;
  margin-right: auto;
  margin-left: auto;
}



.bg1 {
  background-color: #fff;
}
.bg2 {
  background-color: #f7f7f7;
}
.bg3 {
  background-color: #f2f2f2;
}
.bg4 {
  background-color: #e5e5e5;
}
.bg5 {
  background-color: #d9d9d9;
}
.bg14 {
  background-color: #666;
}
.bg18 {
  background-color: #333;
}



.genericSlice {
  background-color: #fff;
}

.genericSlice:before,
.genericSlice:after {
  content: "";
  display: table;
} 

.genericSlice:after {
  clear: both;
}



.jiscBanner {
  color: #fff;
  background-color: #333;
}

.jiscBanner:before,
.jiscBanner:after {
  content: "";
  display: table;
} 

.jiscBanner:after {
  clear: both;
}



.jiscFooter {
  margin-top: 1.5rem;
}

.jiscFooter:before,
.jiscFooter:after {
  content: "";
  display: table;
} 

.jiscFooter:after {
  clear: both;
}



.jiscHeader {
  color: #fff;
}

.jiscHeader:before,
.jiscHeader:after {
  content: "";
  display: table;
} 

.jiscHeader:after {
  clear: both;
}



.jiscLink {
}



.jiscLogo {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
}



.linkList {
  padding-left: 0;
  list-style: none;
}

.linkListItem {
}



.linkListInline {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-left: -2rem;
  list-style: none;
}

.linkListInlineItem {
  margin-left: 2rem;
}



.visuallyHidden {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
