
.jiscBanner {
  color: #fff;
  background-color: #333;
}

.sitewideContainer {
  max-width: 61.875em;
  margin-right: auto;
  margin-left: auto;
}

.jiscLink {
}

.jiscLogo {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
}
